@import "../../node_modules/bootstrap/scss/functions";
@import "bootstrap_variables";
@import "bootstrap";

// bootstrap overwrites
.btn-primary {
    color: #fff;
}

$buffer-size: 2rem;
$buffer-size-sm: $buffer-size / 2;

body {
    margin-top: $buffer-size;
    margin-bottom: $buffer-size;
}
.buffer-bottom {
    margin-bottom: $buffer-size;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#github-auth {
    display: inline-block;
}
#inspectform,
#github-logout,
#user-information {
    display: none;
}

h1 {
    font-weight: normal;
}
h3 {
    font-size: $h5-font-size;
}

.question {
    font-size: $h1-font-size;
    flex: 1;

    @include media-breakpoint-up(md) {
        display: flex;
    }

    > .flex-item {
        @include media-breakpoint-up(md) {
            flex: 1;
        }
    }

    .label {
        margin-right: 0.7rem;

        @include media-breakpoint-up(md) {
            text-align: right;
        }
    }

    .username-input-wrapper {
        display: flex;
        align-items: baseline;

        .questionmark {
            margin-left: 0.7rem;
        }
    }

    .form-text {
        font-size: $font-size-sm;
    }

    #username {
        border: none;
        border-bottom: solid $body-color 3px;
        border-radius: 0;
        font-size: $h1-font-size;
        padding: 0;
        line-height: $line-height-base;
        color: $body-color;
        width: 100%;
    }
}

.statistics {
    > div {
        padding: 10px;
        margin-bottom: $buffer-size-sm;
    }
    p {
        margin-bottom: 5px;
    }
    p.value {
        font-size: $h1-font-size;
        margin-bottom: 0;
    }
    p#user-since-date {
        font-size: $font-size-base;
    }
}

@function get-rank-color($rank) {
    $step: 255 / 5;
    $red: 0;
    $green: 0;
    @if $rank <= 50 {
        $red: 255;
        $green: ($rank / 10 * $step);
    } @else {
        $red: 255 - ((($rank - 50) / 10) * $step);
        @if $red < 0 {
            $red: 0
        }
        $green: 255;
    }
    @return rgb($red, $green, 0);
}
$rank-list: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
@each $rank in $rank-list {
    .rank-#{$rank} {
        .progress-bar {
            background-color: get-rank-color($rank);
        }
    }
}

$avatar-size: 150px;
$avatar-border-size: 5px;

#avatar-container {
    position: relative;
}

#avatar-wrapper {
    position: absolute;
    top: $avatar-border-size;
    left: 50%;
    transform: translateX(-50%);

    img {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;
    }
}

#loading-container {
    display: inline-block;
    width: $avatar-size + 2 * $avatar-border-size;
    height: $avatar-size + 2 * $avatar-border-size;
    border-radius: 50%;
    border: $avatar-border-size solid transparent;

    &.loading {
        border: $avatar-border-size solid rgba(105, 105, 105, 0.2);
        border-top-color: #a7a7a7;
        animation: spin 1s infinite linear;
    }
}

.language-statistics {
    margin-bottom: 10px;
}
.progress-bar {
    width: 0;
    background-color: red;
    transition: width 2s ease-out;
}
