@import "../external/bootstrap/scss/bootstrap";
$fa-font-path: "../external/Font-Awesome/fonts";
@import "../external/Font-Awesome/scss/font-awesome";

$buffer-size: 2rem;
$buffer-size-sm: $buffer-size / 2;

body {
    margin-top: $buffer-size;
    margin-bottom: $buffer-size;
}
.buffer-bottom {
    margin-bottom: $buffer-size;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#github-auth {
    display: inline-block;
}
#inspectform,
#github-logout,
#user-information,
#user-not-found {
    display: none;
}

#username {
    border: none;
    border-bottom: solid $body-color 3px;
    border-radius: 0;
    font-size: 2rem;
    text-align: center;
}

.statistics {
    > div {
        padding: 10px;
        margin-bottom: $buffer-size-sm;
    }
    p {
        margin-bottom: 5px;
    }
    p.value {
        font-size: $font-size-h1;
        margin-bottom: 0;
    }
    p#user-since {
        font-size: $font-size-base;
    }
}
.value-bad {
    color: red;
}
.value-ok {
    color: orange;
}
.value-good {
    color: green;
}
.value-ultra {
    animation: rainbow 5s infinite;
}
@keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
}

$avatar-size: 150px;
$avatar-border-size: 5px;

#avatar-container {
    position: relative;
}

#avatar {
    position: absolute;
    top: $avatar-border-size;
    left: 50%;
    transform: translateX(-50%);
}
#avatar img {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
}

#loading-container {
    display: inline-block;
    width: $avatar-size + 2 * $avatar-border-size;
    height: $avatar-size + 2 * $avatar-border-size;
    border-radius: 50%;
    border: $avatar-border-size solid transparent;

    &.loading {
        border: $avatar-border-size solid rgba(105, 105, 105, 0.2);
        border-top-color: #a7a7a7;
        animation: spin 1s infinite linear;
    }
}

.language-statistics {
    margin-bottom: 10px;
}
.progress-bar {
    width: 0;
    transition: width 2s ease-out;
}
